 /*Setting root size for text*/
 html, body{ font-size: 15px}
 /* rem units to size the h1 and li tags. */
 
  /* download this simple triangle shape  and style the list items to use it */
 li{font-size: .9rem;
    list-style-image: url('my_triangle.png');
}

 /* space the list items at least 20 pixels from the left edge of the page
 */
 ol{
     margin-left: 20px
 }

 /* space the list items at least 10 pixels from each other */
li{
    line-height: 10px
}
 /* center the header */
 /* the text of header should be dark red */
  /* the header should use a different font than the list */
 h1{
     font-size: 1.7rem;
     text-align: center;  
     color: darkred;
}



 /* keep the list at least 50 pixels from the header */

 /* the book titles in the list should not be displayed in a serif font */



 

 /* break the CSS rules into two different .css files. One file should contain any spacing rules, the other any rules governing font faces or coloring.  Bind both into your HTML document
instead of numbers, have the list items indexed by the alphabet
change the <ol> tag to <ul> (and the closing </ol> to </ul>) and style the list items to have square bullet points */
